<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>缩放button封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C86E5B1C96B95200679486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C86E741C96B95200679486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C86E7F1C96B95200679486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
